#!/usr/bin/make -f

%:
	dh $@

override_dh_autoreconf:
	/bin/true

override_dh_auto_configure:
	/bin/true

override_dh_auto_build:
	/bin/true

override_dh_auto_test:
	/bin/true

override_dh_auto_install:
	dh_install

override_dh_auto_clean:
	/bin/true
