#!/usr/bin/make -f

DESTDIR := $(CURDIR)/debian/tmp
DEFAULT_FONT := /usr/share/fonts/truetype/liberation/LiberationMono-Regular.ttf

DEB_CONFIGURE_EXTRA_FLAGS := --with-default-font=$(DEFAULT_FONT)

%:
	dh $@

override_dh_autoreconf:
	/bin/true

override_dh_auto_configure:
	/bin/true

override_dh_auto_build:
	/bin/true

override_dh_auto_test:
	/bin/true

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(DESTDIR) OCAMLFIND_DESTDIR=$(DESTDIR)/$(OCAML_STDLIB_DIR) \
               prefix=$(DESTDIR)/usr sysconfdir=$(DESTDIR)/etc \
               INSTALL_DAEMON=no OCAMLFIND_LDCONF=ignore
	mkdir -p $(DESTDIR)/usr/share/liquidsoap
	cp -rf `ocamlfind ocamlc -where`/../../share/camomile $(DESTDIR)/usr/share/liquidsoap
	dh_install

override_dh_auto_clean:
	/bin/true
