#!/usr/bin/make -f

DESTDIR := $(CURDIR)/debian/tmp
DEFAULT_FONT := /usr/share/fonts/truetype/liberation/LiberationMono-Regular.ttf

DEB_CONFIGURE_EXTRA_FLAGS := --with-default-font=$(DEFAULT_FONT)

%:
	dh $@

override_dh_autoreconf:
	/bin/true

override_dh_auto_configure:
	/bin/true

override_dh_auto_build:
	/bin/true

override_dh_auto_test:
	/bin/true

override_dh_auto_install:
	export OCAMLPATH=`cat ../.ocamlpath` && dune build @install
	export OCAMLPATH=`cat ../.ocamlpath` && dune install --prefix=$(DESTDIR)/usr
	cp -rf `ocamlfind ocamlc -where`/../../share/camomile $(DESTDIR)/usr/share/liquidsoap
	dh_install

override_dh_auto_clean:
	/bin/true
