*.exe
gui/liguidsoap
Makefile.defs
aclocal.m4
autom4te.cache/
config.*
configure
configure-with-options
install-sh
scripts/liquidsoap.gentoo.initd
scripts/liquidsoap.initd
scripts/liquidsoap.logrotate
src/META
src/configure.ml
*.sw*
*.cm*
*.o
*~
src/auto_clean
src/lang/lang_parser.ml
src/lang/lang_parser.mli
src/*_depend
src/liquidsoap
doc/html
doc/content/reference.md
doc/content/settings.md
doc/content/protocols.md
autodoc/
*.annot
scripts/tests/threesines/
src/test/readavi
src/test/simplelex_test
src/test/strings_test
src/test/JSON_parse
src/test/is_url
src/test/timezone
src/test/id3v2_test
*.conflicts
liquidsoap.config
doc/liquidsoap.1.md
