*.exe
Makefile.defs
aclocal.m4
autom4te.cache/
config.*
configure
configure-with-options
install-sh
scripts/liquidsoap.gentoo.initd
scripts/liquidsoap.initd
scripts/liquidsoap.logrotate
src/META
src/configure.ml
*.sw*
*.cm*
*.o
*~
src/auto_clean
src/lang/parser.ml
src/lang/parser.mli
src/*_depend
src/liquidsoap
doc/html
doc/content/reference.md
doc/content/reference-extras.md
doc/content/settings.md
doc/content/protocols.md
doc/content/install.md
doc/content/build.md
autodoc/
*.annot
tests/language/interactive.json
tests/threesines/
tests/media/files/
tests/media/test_encoder.liq
tests/media/test_stream_audio.liq
tests/media/test_stream_video.liq
tests/streams/*.mp3
src/test/readavi
src/test/*_test
src/test/JSON_parse
src/test/is_url
src/test/unifier_test
src/test/timezone
src/test/ID3
src/test/meth
src/test/test.mp3
src/test/bla.mp3
src/test/types
src/tools/json_parser.ml*
*.conflicts
liquidsoap.config
doc/liquidsoap.1.md
_opam/
_build/
