name: JS Build

on:
  workflow_call:
    inputs:
      sha:
        required: true
        type: string
      branch:
        required: true
        type: string

jobs:
  build_js:
    runs-on: depot-ubuntu-24.04-4
    container:
      image: savonet/liquidsoap-ci:debian_trixie@sha256:dc7cb6d629091da7cc938e7e3d2d88b3830894c85d0700065c73cceeca5cf5ab
      options: --user root
    env:
      HOME: /home/opam
    steps:
      - name: Checkout actions
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          sparse-checkout: .github/actions
          clean: false
      - name: Checkout code
        uses: ./.github/actions/checkout-liquidsoap
        with:
          sha: ${{ inputs.sha }}
          reset-files: true
      - name: Install npm
        run: |
          apt-get update
          apt-get install -y npm
      - name: Build JS
        run: |
          cd /tmp/liquidsoap-full/liquidsoap
          sudo -u opam -E opam update
          sudo -u opam -E opam exec -- dune build --profile release src/js
      - name: Upload JS artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: liquidsoap-js-${{ inputs.branch }}
          path: |
            /tmp/liquidsoap-full/liquidsoap/_build/default/src/js/interactive_js.bc.js
            /tmp/liquidsoap-full/liquidsoap/_build/default/src/js/index.html
            /tmp/liquidsoap-full/liquidsoap/_build/default/src/js/playground.bundle.js
          if-no-files-found: error
